.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 238px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.address__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position:absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  color: white;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  font-weight: bold;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px;
}

.lots {
  padding: 153px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding-left: 40px;
  padding-top: 32px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  margin-bottom: 10px;
  margin-top: 28px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
  width: 334px;
  height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  border-bottom: 1px solid;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 383px 688px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 70px;
}

.about__logo-image {
  margin: 65.25px 47.56px 62.2px 50.89px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.footer__address {
  justify-self: left;
}

.footer__menu {
  margin: 0 auto;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.footer__social-icon {
  object-fit: contain;
  object-position: top;
}